<dx-tab-panel #tabPanel [height]="960" [dataSource]="tabs" [selectedIndex]="0" [loop]="false" [animationEnabled]="true" [swipeEnabled]="true">
    <div *dxTemplate="let tab of 'title'">
        <span>{{tab.Title}}</span>
    </div>
    <div *dxTemplate="let tab of 'item'">

        <div class="tabpanel-item">
            <div *ngIf="tab.id == 0">
                <app-etl></app-etl>
            </div>
            <div *ngIf="tab.id == 1">
                <app-servers></app-servers>
            </div>
            <div *ngIf="tab.id == 2">
                <app-services></app-services>
            </div>
        </div>
    </div>
</dx-tab-panel>